<html>
<head>
    <title>Shoe Stores</title>
</head>
<body>
    <h1>{{ store.getName }} <small>Edit</small></h1>


    <form action="/stores/{{ store.getId }}" method="post">
        <input type="hidden" name="_method" value="patch">
            <label for="new_name">Edit Store name</label>
        <input type="text" name="new_name">
        <button type="submit">Submit</button>
    </form>



    {% if brands is not empty %}
        Brands to add to this store:
        {% for brand in brands %}
            <ul>
                <li><a href="/brands/{{ brand.getId }}">{{ brand.getStyle }}</a>
                    <form action="/delete_brand" method="post">
                            <input name="_method" type="hidden" value="delete">
                            <input value="{{ brand.getId }}" id="brand_id" name="brand_id" type="hidden">
                            <input value="{{ store.getId }}" id="store_id" name="store_id" type="hidden">
                            <button type="submit">Sold Out</button>
                        </form></li>
            </ul>
        {% endfor %}
        {% else %}
            <p>
                There are no brands for this store at this time.
            </p>
    {% endif %}
    <h3><a href="/stores/{{ store.getId }}">Go Back</a></h3>
    <h3><a href="/stores">Stores</a></h3>
    <h3><a href="/">Home</a></h3>

</body>
</html>
