<html>
<head>
    <title>Shoe Stores</title>
</head>
<body>
    <h1>{{ store.getName }} <small>Store</small></h1>

    <p>
        Here is a list of brands sold at this store:
    </p>

    <form action="/add_brand" method="post">
        <label for="brand_id">Brands to add to this store:</label>
        <input value="{{ store.getId }}" id="store_id" name="store_id" type="hidden">
        <select id="brand_id" name="brand_id" type="text">
            {% for brand in brands %}
                <option value="{{ brand.getId }}"> {{ brands.getStyle }} </option>
            {% endfor %}
        </select>
        <button type="submit">Get this brand</button>
    </form>

    {% if store_brands is not empty %}
        Brands in this store:
        {% for brand in store_brands %}
            <ul>
                <li><a href="/brands/{{ brands.getId }}">{{ brands.getStyle }}</a>
                    <form action="/store/{{store.getId}}/brand" method="post">
                        <input name="_method" type="hidden" value="delete">
                        <input value="{{ brands.getId }}" id="brand_id" name="brand_id" type="hidden">
                        <input value="{{ store.getId }}" id="store_id" name="store_id" type="hidden">
                        <button type="submit" class="button">Sold Out</button>
                    </form>
                </li>
            </ul>
        {% endfor %}
        {% else %}
            <p>
                There are no brands for this store at this time.
            </p>
    {% endif %}


    <p>
        Store no longer exist?
    </p>
    <a href="/stores/{{ store.getId }}/edit">Edit your store and brands here</a>


        </li>
</ul>


    <form action="/stores/{{store.getId}}/delete" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit">Delete</button>
    </form>
    <h3><a href="/stores">Stores</a></h3>
    <h3><a href="/">Home</a></h3>
</body>
</html>
