<html>
    <head>
        <title>All Brands at Your Local Stores</title>
    </head>
    <body>

        <h1>{{ brand.getStyle }} <small>Brand</small></h1>

        <form action="/brands/{{ brand.getId }}" method="post">
            <input type="hidden" name="_method" value="patch">
            <label for="new_style">Edit Store name</label>
        </form>


        <p>
            Here is a list of stores sold at this brand:
        </p>

        {% if every_store is not empty %}
            Brands to add to this store:
            {% for store in every_store %}
                <ul>
                    <li><a href="/stores/{{ store.getId }}">{{ store.getName }}</a>
                        <form action="/delete_store" method="post">
                            <input name="_method" type="hidden" value="delete">
                            <input value="{{ brand.getId }}" id="brand_id" name="brand_id" type="hidden">
                            <input value="{{ store.getId }}" id="store_id" name="store_id" type="hidden">
                        </form>
                    </li>
                </ul>
            {% endfor %}
            {% else %}
                <p>
                    There are no brands for this store at this time.
                </p>
        {% endif %}
        <p>
            Store no longer exist?
        </p>
        <form action="/brands/{{ brand.id }}" method="post">
            <input type="hidden" name="_method" value="patch">
            <label for="new_style">Edit your brand name</label>
            <input type="text" name="new_style">
            <button type="submit" name="button">Submit</button>
        </form>

        <form action="/brand/delete" method="post">
            <input  type="hidden" name="_method" value="delete">
            <input type="hidden" name="brand_id" value="{{ brand.getId }}">
            <button type="submit">Delete</button>
        </form>

        <h3><a href="/brands">Brands</a></h3>
        <h3><a href="/">Home</a></h3>
    </body>
</html>
